/**
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define ICONS   1
#define NUMBERS 2
#define DIRS    3
#define CNTRLS  4

/ { 
        keymap {
                compatible = "zmk,keymap";
                
            default_layer {
        bindings = <
        &kp Q       &kp W       &kp E         &kp R         &kp T           &kp Y           &kp U       &kp I         &kp O        &kp P
        &mt LCTRL A &kp S       &lt DIRS D    &lt NUMBERS F &kp G           &kp H           &lt ICONS J &lt CNTRLS K  &kp L        &mt RCTRL SEMI
        &mt LALT Z  &mt LCMD X  &kp C         &kp V         &kp B           &kp N           &kp M       &kp COMMA     &mt RCMD DOT &mt RALT SLASH
                                              &kp BSPC      &mt LSHFT ESC   &mt RSHFT RET   &kp SPACE
        >;
        };
        
            icons_layer {
        bindings = <
        &kp EXCL     &kp AT       &kp LBKT       &kp RBKT       &kp PRCNT           &kp LC(LG(Q))     &none       &kp SQT       &kp BSLH       &kp ASTRK
        &kp AMPS     &kp PIPE     &kp LPAR       &kp RPAR       &kp EQUAL           &kp LC(LG(SPACE)) &none       &kp DQT       &kp HASH       &kp PLUS
        &kp TILDE    &kp CARET    &kp LBRC       &kp RBRC       &kp UNDER           &kp LG(LS(X))     &none       &kp GRAVE     &kp DLLR       &kp MINUS
                                                 &kp BSPC       &kp DEL             &kp TAB           &kp SPACE
        >;
        };

            numbers_layer {
        bindings = <
        &trans     &trans     &trans       &trans       &trans           &trans    &kp N1       &kp N2       &kp N3       &kp ASTRK
        &trans     &trans     &trans       &trans       &trans           &trans    &kp N4       &kp N5       &kp N6       &kp PLUS
        &trans     &trans     &trans       &trans       &trans           &trans    &kp N7       &kp N8       &kp N9       &kp MINUS
                                           &kp BSPC     &mt LSHFT ESC    &kp N0    &kp SPACE 
        >;
        };

            directions_layer {
        bindings = <
        &trans     &trans     &trans       &trans       &trans           &trans    &trans       &kp UP       &trans       &trans 
        &trans     &trans     &trans       &trans       &trans           &trans    &kp LEFT     &kp DOWN     &kp RIGHT    &trans
        &trans     &trans     &trans       &trans       &trans           &trans    &trans       &trans       &trans       &trans
                                           &trans       &trans           &trans    &trans 
        >;
        };

            controls_layer {
        bindings = <
        &trans     &trans     &trans       &trans       &trans           &trans    &trans       &trans       &trans       &trans 
        &kp LC(N1) &kp LC(N2) &kp LC(N3)   &kp LC(N4)   &kp LC(N5)       &trans    &trans       &trans       &trans       &trans
        &trans     &trans     &trans       &trans       &trans           &trans    &trans       &trans       &trans       &trans
                                           &kp C_PREV   &kp C_NEXT       &trans    &kp C_PP
        >;
        };

    };
};
